$font-family--Open-sans: "Open Sans", Arial, sans-serif;
$font-family--Oswald: "Oswald", Arial, sans-serif;

$font-size--section-title: 24px;

$base-red: #e25050;
$white: #ffffff;
$base-white: #fefefe;
$base-black: #202020;
$light-grey: #c9c9c9;